ion-card-title {
    font-size: 18px; 
    text-align: center; 
    justify-content: flex-start;
};

.Diaria{
    text-align: center; color: green; font-size: 18px;
};

.Semanal{
    text-align: center; color: blue; font-size: 18px;
};

